body{
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(241,221,191,0.6031600140056023) 100%);
}


h1{
    color:$color1;
    font-size: 3rem;
}

h3{
    color:$color1;
}



