{% extends 'base.html.twig' %}

{% block title %}Articles de mon super Blog{% endblock %}

{% block body %}
    <h1 style="color:#9f609c">Mon super blog</h1>
    <div class="container">
        <table class="table table-striped table-hover">
            <h3 style="color:#9f609c">Ici nous gérons la {{titre_date}}</h3>
            <th>Affichage en rouge si dates differentes</th>
            
            <td>Date aujourd'hui: {{"now" | date('d.m.Y')}} </td>
            {# Creation d'une date random en php et traitée ici #}
            <td> Date random: 
            <span id="date_random">{{date_rand | date('d.m.Y')}}</span></td>
            {# Comparaison avec la date d'aujourd'hui "now" | date('U') 
            'U' signifiant Unix ( = le total de secondes)  #}
            
            {% if date_rand | date('U') != "now" | date('U') %}
            {# modification du css si la condition est rencontrée #}
                {% apply inline_css %}
                    <style>
                        #date_random { color: red; }
                    </style>
                {% endapply %}
            {% endif %}
        </table>
    </div>
{% endblock %}