{% extends 'base.html.twig' %}

{% block title %}Article detail{% endblock %}

{% block body %}
    <h3>Voici le contenu de l'article "{{article.titre}}": </h3>
    <p>{{ article.contenu }}</p>
    <h3>Date de création: </h3>
    <p>{{ article.date|date('d-m-Y') }}</p>
{% endblock %}