{% extends 'base.html.twig' %}

{% block title %}Mon Blog{% endblock %}

{% block body %}

<div class="container">
    <h1 class="">Bienvenue sur mon Blog</h1>

</div>
{% endblock %}
{% block javascripts %}
{# ne pas overrider le script parent #} 
{{ parent() }}
<script src="{{ asset('js/vote.js') }}"></script> 
{% endblock %}