{% extends 'base.html.twig' %}

{% block title %}Articles de mon super Blog
{% endblock %}

{% block body %}
	<h1 class="main-title">Liste des articles</h1>
	<ul class="article-cards-display">
		{% for art in article %}
			<li>
				<a class="article-card" href="{{ path ('afficher_article', { id : art.id }) }}">{{ art.titre }}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
