{% extends 'base.html.twig' %}

{% block title %}Articles de mon super Blog{% endblock %}

{% block body %}
<ul class="list-group m-5">
        <h1 class="text-center mb-5" style="color:#9f609c">Liste des articles</h1>
{% for art in article %}
        <li class="list-group-embed-responsive-item"><a style="color:#ea8f79" class="btn btn-outline" href="{{ path ('afficher_article', { id : art.id }) }}">{{ art.titre }}</a></li>
{% endfor %}
    </ul>
{% endblock %}