{% extends 'base.html.twig' %}

{% block title %}Articles de mon super Blog{% endblock %}

{% block body %}
<ul class="list-group m-5">
        <h1>Liste des articles</h1>
{% for art in article %}
        <li><a href="{{ path ('afficher_article', { id : art.id }) }}">{{ art.titre }}</a></li>
{% endfor %}
    </ul>
{% endblock %}