{% extends 'base.html.twig' %}

{% block title %}Articles de mon super Blog{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Mon super blog</h1>
    <div>
        <p>Exercice: Afficher le premier élément d’un tableau de string</p>
        <h3>{{titre_string}}</h3>
        {{tab_string|first}}
    </div>
    <div>
        <h3>Premiere lettre en majuscule: </h3>
        {% for item in tab_string %}
        {# Prend la 1ere lettre et la uppercase puis a l'aide de slice coupe le 
        reste de la string et le colle a la suite #}
            <li> {{item|first|upper}}{{item|slice(1,item|length)}}</li>
        {% endfor %}
    </div>
</div>
{% endblock %}
